{
  "useTabs": true,
  "tabWidth": 4,
  "printWidth": 180,
  "proseWrap": "preserve",
  "semi": true,
  "singleQuote": false,
  "experimentalTernaries": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
